<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>

    //test1 눌렀을 때 file1 전송. 
    $(document).ready(function(){
    });



    </script>

    <meta charset="UTF-8">

    <title>대기</title>

</head>

<body>

    <div class="container">

        <h2>대기</h2>
        
        <div class="file">
            <span><button class="btn" onclick="location.href='/' ">뒤로가기</button></span>
        </div>

    </div>

</body>

</html>
