<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>

    //dump에 보낼 gcode 넣기
    var dump = null;
    function dumpSet(gcode) {
        dump = gcode;
    }
    
    //gcode filename 전송
    var filename = null;
    function fileSet(imagename) {
        filename = imagename;
    }

    $.send = function(data, status){
        $.get("/joystick/" + dump, function(data, status){ });        
    };

    $.sendImg = function(data, status){
        $.get("/image/" + filename, function(data, status){ });        
    };

    //send, joystick의 후손 버튼들을 눌렀을 때만 G코드 전송(비동기방식 설정해야하나?)
    $(document).ready(function(){
        $('.send button,.joystick button').click(function(){
            $.send();
        });
        $('.file button').click(function(){
            $.sendImg();
        });
    });

    //조이스틱 구동을 위한 설정
    var X = 0;
    var Y = 0;
    var step = 15;
    function resetXY() {
        X = 0;
        Y = 0;
        dumpSet("G1 X0Y0");
    }

    function X_plus() {
        if (X+step <=300) X += step;
        var gcode = "G1"+" X"+String(X)+"Y"+String(Y);
        dumpSet(gcode);
    }
    function X_Minus() {
        if (X-step >=0) X -= step;
        var gcode = "G1"+" X"+String(X)+"Y"+String(Y);
        dumpSet(gcode);
    }
    function Y_plus() {
        if (Y+step <= 300) Y += step;
        var gcode = "G1"+" X"+String(X)+"Y"+String(Y);
        dumpSet(gcode);
    }
    function Y_Minus() {
        if (Y-step >=0) Y -= step;
        var gcode = "G1"+" X"+String(X)+"Y"+String(Y);
        dumpSet(gcode);
    }


    </script>

    <meta charset="UTF-8">

    <title>E-SCARA</title>

</head>

<body>

    <div class="container">

        <h1 style="margin-bottom: 20px;">E-SCARA</h1>
        
        <div class="send" style='margin-left: 3px'>
            <div style='margin-bottom: 3px'>
            <button type="button" class="btn btn-warning" onclick='dumpSet("G28");'>Home</button>
            <button type="button" class="btn btn-warning" onclick='resetXY()'>원점으로</button>
            </div>
            <div style='margin-bottom: 3px'>
            <button type="button" class="btn btn-success" onclick='dumpSet("M4 L55T70")'>Servo 25</button>
            <button type="button" class="btn btn-success" onclick='dumpSet("M4 L55T80")'>Servo 35</button>
            </div>
            <div style='margin-bottom: 30px'>
            <button type="button" class="btn btn-primary" onclick='dumpSet("M3");'>Pen Down</button>
            <button type="button" class="btn btn-primary" onclick='dumpSet("M5");'>Pen Up</button>
            </div>
        </div>


        <div class="joystick" style='margin-left: 5px;'>
            <div style='margin-bottom: 2px'><button type="button" class="btn btn-default" style='margin-left: 42px' style='margin-bottom: 2px' onclick="Y_plus();">상</button></div>
            <div>
            <span><button type="button" class="btn btn-default" onclick="X_Minus();">좌</button></span>
            <span><button type="button" class="btn btn-default">O</button></span>
            <span><button type="button" class="btn btn-default" onclick="X_plus();">우</button></span>
            </div>
            <div style='margin-top: 2px'><button type="button" class="btn btn-default" style= 'margin-left: 42px' onclick="Y_Minus();">하</button></div>
        </div>

        <div class="file" style='margin-top: 50px;' >
            <div style='margin-bottom: 4px'>
            <span><button class="btn btn-default" onclick="fileSet('1_circleSKKU')"><img src="1_circleSKKU.jpg" width="135"></button></span>
            <span><button class="btn btn-default" onclick="fileSet('2_SKK')"><img src="2_SKK.jpg" width="135"></button></span>
            </div>
            <div style='margin-bottom: 4px'>
            <span><button class="btn btn-default" onclick="fileSet('3_library')"><img src="3_library.jpg" width="135"></button></span>
            <span><button class="btn btn-default" onclick="fileSet('4_hs')"><img src="4_hs.jpg" width="135"></button></span>
            </div>
            <div style='margin-bottom: 4px'>
            <span><button class="btn btn-default" onclick="fileSet('5_Lion')"><img src="5_Lion.jpg" width="135"></button></span>
            <span><button class="btn btn-default" onclick="fileSet('6_peach')"><img src="6_peach.png" width="135"></button></span>
            </div>
            <div style='margin-bottom: 4px'>
            <span><button class="btn btn-default" onclick="fileSet('7_KJY')"><img src="7_KJY.png" width="135"></button></span>
            <span><button class="btn btn-default" onclick="fileSet('8_PS')"><img src="8_PS.jpg" width="135"></button></span>
            </div>

        </div>

    </div>

</body>

</html>
